<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login - CRM</title>
<meta name="_csrf" content="${_csrf.token}" />
<meta name="_csrf_header" content="${_csrf.headerName}" />

</head>

<body style="background-color: #f5deb3;">
	<section layout:fragment="content">
		<div class="middle-box text-center loginscreen animated fadeInDown">
			<div>
				<div>
					<img alt="image" class="img-circle" style="width:160px;height:130px;"
							th:src="@{https://metaimg.sundirectgo.in/icons/sund_logo_portal.png}">
				</div>
				<a href="#"><small th:text="${version}"></small></a>
				<h3>Sun Direct GO CRM</h3>
				<div th:if="${param.error != null}"
					class="alert alert-danger alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close"
						type="button"></button>
					Invalid User / Password.
				</div>
				<div th:if="${param.logout != null}"
					class="alert alert-danger alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close"
						type="button">×</button>
					You have been logged out.
				</div>
				<form id="login_form" th:action="@{/login}" method="post">
					<div class="form-group">
						<input type="text" name="username" class="form-control"
							placeholder="Username" id="user_name" required autofocus>
					</div>
					<div class="form-group">
						<input type="password" name="password" class="form-control"
							minlength="3" placeholder="Password" id="password" required>
					</div>
					
					<!-- <button type="Submit"
						class="btn btn-primary block full-width m-b loginButton" id="load">
						<i id="_loginButtonLoader" class='fa fa-spinner fa-spin'
							style="display: none;"></i>Login
					</button> -->
					<button type="submit" class="btn btn-primary block full-width m-b loginButton" id="load" style="background-color: #007acc;">
    					<i id="_loginButtonLoader" class="fa fa-spinner fa-spin" style="display: none;"></i>Login
					</button>
					
				</form>
			</div>
		</div>
	</section>

	<div layout:fragment="customscripts">
		<script th:src="@{/scripts/login.js}"></script>
	</div>

	<script type="text/javascript">
		$(window).load(function() {
			// Animate loader off screen
			$("#pageloader").fadeOut("slow");
		});
	</script>
</body>
</html>