<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layoutLogged">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscriber - SMS</title>
    
</head>

<body>
<section layout:fragment="content">

    <!-- Navigation menu start -->
    <!-- <div th:include="navigationFragment :: navigationBar"></div> -->
    <!-- Navigation menu end -->
    <!-- <div th:if="${pager.totalPages == 0}" class="alert alert-danger alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        No Results found
    </div> -->
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>View Subscribers</h5>
                        <!-- </a> -->

                        <div class="ibox-tools">
                            <a class="collapse-link"> <i class="fa fa-chevron-up"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a></li>
                                <li><a href="#">Config option 2</a></li>
                            </ul>

                        </div>
                    </div>

                    <div class="ibox-content">

                        <div class="search_bar">
                            <form id="searchForm" class="navbar-form" role="search">
                                <div class="col-sm-6">
                                    <select class="form-control carousel-search-select valid"
        id="searchType" aria-invalid="false" name="requestType"
        th:object="${filter}">
    <option value="">Select</option>
    <option value="UserID" th:selected="${filter == 'UserID'}">Search By UserId</option>
    <option value="SMC" th:selected="${filter == 'SMC'}">Search By SMC</option>
    <option value="MobileNo" th:selected="${filter == 'MobileNo'}">Search By mobile</option>
</select>

                                </div>

                                <div class="input-group clearable-input col-sm-6">
                                    <input type="text" class="form-control"
                                           placeholder="Search subscriber mobileNo" id="query"
                                           name="query" th:value="${query}"> <span
                                           data-clear-input>&times;</span>
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary" data-target="#searchAdd" id="searchButton" type="submit">GO!</button>
                                    </div>
                                </div>
                               
                            </form>
                        </div>

    <div th:if="${user != null}" id="userDetails" >
    <h2 style="color: #6495ED; font-weight: bold; text-decoration: underline;">User Details:</h2>
  <div th:each="user : ${user}">
    <dl class="user-details-list">
        <div class="row">
            <div class="col-lg-3">
                <dt id="userId">User ID: <span th:text="${user.id}"></span></dt> <br />
                <dt>Name: <span th:text="${user.first + ' ' + user.last}"></span></dt> <br />
                <dt>Mobile No: <span th:text="${user.mobileNo}"></span></dt>
            </div>

            <div class="col-lg-3">
                <dt>SMC: <span th:text="${user.smc}"></span></dt><br />
                <dt>Email: <span th:text="${user.email_id}"></span></dt><br />
                <dt>Address: <span></span></dt>
            </div>
        </div>
    </dl>
    <br />
    <div style="display: flex; margin-bottom: 10px;">      
       <button style = " margin: 0 3px;" class="btn btn-info" data-toggle="modal" th:attr="data-target='#subscription', data-userid=${user.id}" onclick="subscriptionInfo(this.getAttribute('data-userid'))" type="button">Subscription Info</button>
        <button style = "margin: 0 3px;" class="btn btn-info" data-toggle="modal" th:attr="data-target='#device', data-userid=${user.id}" onclick="deviceInfo(this.getAttribute('data-userid'))" type="button">Device Info</button>
        <button style = "margin: 0 3px;" class="btn btn-info" data-toggle="modal" th:attr="data-target='#other', data-userid=${user.id}" onclick="otherInfo(this.getAttribute('data-userid'))" type="button">Other Info</button>
    	<form id="myForm" th:action="@{https://console.firebase.google.com/u/0/}" method="get" target="_blank">
        	<button style = "margin: 0 3px; background-color:red; border: none;" class="btn btn-info" data-toggle="modal" type="submit">Crash reports</button>
		</form>
		<script>
       	 	document.getElementById("myForm").addEventListener("submit", function(event) {
            event.preventDefault(); 
            window.open(this.action, '_blank'); 
        	});
		</script>
    </div>
</div>



</div>


                </div>
                <div th:if="${user == null}">

<span style="color: #C0392B; font-weight: bold;" th:text="${message}"> </span>

                    </div>
            </div>
        </div>

    </div>

<div class="modal fade" id="subscription" tabindex="-1" role="dialog" aria-labelledby="subscriptionLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:800px;">
            <div class="modal-header">
                <h5 class="modal-title" id="subscriptionLabel">Subscription Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" style="background-color: white;">
                <!-- Your HTML table structure -->
                <dt style="color: green;">Active Plan </dt>
<table id="activePlanTable" class="table">
    <thead>
        <tr>
            <th>S.no</th>
            <th>Sms_Plan_Id</th>
            <th>Plan</th>
            <th>Start_From</th>
            <th>Valid_Till</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<!-- Repeat the structure for the expired plan table if you haven't already -->
<dt style="color:red;">Expired Plan</dt>
<table id="expiredPlanTable" class="table">
    <thead>
        <tr>
            <th>S.no</th>
            <th>Sms_Plan_Id</th>
            <th>Plan</th>
            <th>Start_From</th>
            <th>Valid_Till</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

            </div>
        </div>
    </div>
</div>

<!--  device Modal -->
<div class="modal fade" id="device" tabindex="-1" role="dialog" aria-labelledby="deviceLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title" id="deviceLabel">Device Info</h5>         
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     
     <div class="modal-body" style="background-color: white;">
    <div style="font-weight: bold; color: green;">No of times App Launched: <span id="appLaunchCount" style="color: green;"></span></div>
    <!-- Add your subscription information here -->   	
    <table class="table" id="deviceTable">
        <thead>
            <tr>
               
                <th>Device</th>
                <th>Model</th>
                <th>Os</th>
                <th>Os_version</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
</div>

      <div   class="modal-body" style="background-color: white;">
      <span style="color: #C0392B; font-weight: bold;" th:text="${message}"> </span>
       </div>
      </div>
    
    </div>
  </div>
  
  
  <!--  Other Modal -->
<div class="modal fade" id="other" tabindex="-1" role="dialog" aria-labelledby="otherLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width:800px;">
      <div class="modal-header">
        <h5 class="modal-title" id="otherLabel">Other Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background-color: white;">
        <table class="table" id="otherTable">
        <thead>
            <tr>
               
                <th>Content Id</th>
                <th>Content Name</th>
                <th>Type</th>
                <th>Studio</th>
                <th>Action</th>
                <th>Elapsed Time (sec)</th>
                <th>Event Created</th>
                <th>Event Modified</th>
                
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
      </div>
    
    </div>
  </div>
</div>
</div>

<script>

async function subscriptionInfo(userId) {
    var url = '/subscriptionInfo?userId=' + userId;
    var modal = document.getElementById('subscription'); // Get the modal element

    try {
        const response = await fetch(url);

        if (!response.ok) {
            throw new Error('Network response was not ok: ' + response.status);
        }

        const data = await response.json();

        console.log(data);

        // Update the modal content with the retrieved data
        
        updateModalContent(data);
        
        // Show the modal
        $(modal).modal('show');
    } catch (error) {
        console.error('Error fetching data:', error);
    }
}

function updateModalContent(data) {
    // Update Active Plan table
    var activePlanTable = document.getElementById('activePlanTable');
    updateTable(activePlanTable, data.Active);

    // Update Expired Plan table
    var expiredPlanTable = document.getElementById('expiredPlanTable');
    updateTable(expiredPlanTable, data.Expired);
   
}

function updateTable(table, planData) {
    // Clear existing rows
    table.getElementsByTagName('tbody')[0].innerHTML = '';

    // Update the table with new data
    planData.forEach(function (plan, index) {
        var row = table.getElementsByTagName('tbody')[0].insertRow();

        if (plan.message === "success") {
            var validFrom = plan.sub.validFrom;
            var validTill = plan.sub.validTill;

            // Create Date objects using the timestamps
            var from = new Date(validFrom);
            var to = new Date(validTill);

            var cell = row.insertCell(0);
            cell.textContent = index + 1;

            cell = row.insertCell(1);
            cell.textContent = plan.sub.plan.id;

            cell = row.insertCell(2);
            cell.textContent = plan.sub.plan.name;

            cell = row.insertCell(3);
            cell.textContent = from.toISOString().slice(0, 10); // Display date only

            cell = row.insertCell(4);
            cell.textContent = to.toISOString().slice(0, 10); // Display date only
        } else {
            var cell = row.insertCell(0);
            cell.textContent =plan.message1;
           
        }
    });
}


</script>
<script>

async function deviceInfo(userId) {
    var url = '/deviceInfo?userId=' + userId;
    var modal = document.getElementById('device'); // Get the modal element

    try {
        const response = await fetch(url);
        if (!response.ok) {
            throw new Error('Network response was not ok: ' + response.status);
        }
        const data = await response.json();
        console.log(data);
        // Update the modal content with the retrieved data
       updateDeviceInfo(data);
        // Show the modal
        $(modal).modal('show');
    } catch (error) {
        console.error('Error fetching data:', error);
    }
}

function updateDeviceInfo(data) {
    // Update Active Plan table
    var appLaunchCount = data.deviceList[0].inc;

    // Update the HTML element with the app launch count
    var appLaunchElement = document.getElementById('appLaunchCount');
    if (appLaunchElement) {
        appLaunchElement.textContent = appLaunchCount;
    } else {
        console.error("Element with ID 'appLaunchCount' not found.");
    }
    
    var activePlanTable = document.getElementById('deviceTable');
    updateDeviceTable(activePlanTable, data.deviceList);

    // Update Expired Plan table
    
    
    
}
function updateDeviceTable(table, planData) {
    // Clear existing rows
    table.getElementsByTagName('tbody')[0].innerHTML = '';

    // Update the table with new data
    planData.forEach(function (plan, index) {
        var row = table.getElementsByTagName('tbody')[0].insertRow();
        console.log(plan.message);
        
        if (plan.message === "success") {
   //  console.log(dateObject);
        var cell = row.insertCell(0);
        cell.textContent = plan.device.make;
        cell = row.insertCell(1);
        cell.textContent =plan.device.model;
        cell = row.insertCell(2);
        cell.textContent =plan.device.os ;
        cell = row.insertCell(3);
        cell.textContent =plan.device.os_version ;
        } else {
            var cell = row.insertCell(0);
            cell.textContent =plan.message1;
           
        }
        
    });
}

</script>

<script>

async function otherInfo(userId) {
    var url = '/otherInfo?userId=' + userId;
    var modal = document.getElementById('other'); // Get the modal element

    try {
        const response = await fetch(url);

        if (!response.ok) {
            throw new Error('Network response was not ok: ' + response.status);
        }

        const data = await response.json();

        console.log(data);

        // Update the modal content with the retrieved data
       updateOtherInfo(data);

        // Show the modal
        $(modal).modal('show');
    } catch (error) {
        console.error('Error fetching data:', error);
    }
}

function updateOtherInfo(data) {
    // Update Active Plan table
    var activePlanTable = document.getElementById('otherTable');
    updateOtherTable(activePlanTable, data.otherInfo);

    // Update Expired Plan table
    
    
    
}
function updateOtherTable(table, planData) {
    // Clear existing rows
    table.getElementsByTagName('tbody')[0].innerHTML = '';

    // Update the table with new data
    planData.forEach(function (plan, index) {
        var row = table.getElementsByTagName('tbody')[0].insertRow();
        if (plan.message === "success") {
        var create = plan.play.createdAt;

        // Create a Date object using the timestamp
        var from = new Date(create);
        var modified = plan.play.modifiedAt;

        // Create a Date object using the timestamp
        var to = new Date(modified);
   //  console.log(dateObject);
        var cell = row.insertCell(0);
        cell.textContent = plan.asset.id;
      //  console.log(  cell.textContent);
        cell = row.insertCell(1);
        cell.textContent =plan.asset.name;
        cell = row.insertCell(2);
        cell.textContent =plan.asset.type ;
        cell = row.insertCell(3);
        cell.textContent =plan.asset.studioName ;
        cell = row.insertCell(4);
        cell.textContent =plan.play.action ;
        cell = row.insertCell(5);
        cell.textContent =plan.play.elapsedTime ;
        cell = row.insertCell(6);
        cell.textContent =from.toISOString().slice(0, 10); ;
        cell = row.insertCell(7);
        cell.textContent =to.toISOString().slice(0, 10); ;
        } else {
            var cell = row.insertCell(0);
            cell.textContent =plan.message1;
           
        }
        
    });
}

</script>

</section>

<div layout:fragment="customscripts">
    <script th:src="@{/scripts/subscriber.js}"></script>
    <script th:src="@{/scripts/search.js}"></script>
     
   
</div>



</body>
</html>
