<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layoutLogged">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscriber - SMS</title>
    
</head>

<body>
<section layout:fragment="content">

    <!-- Navigation menu start -->
    <!-- <div th:include="navigationFragment :: navigationBar"></div> -->
    <!-- Navigation menu end -->
    <!-- <div th:if="${pager.totalPages == 0}" class="alert alert-danger alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        No Results found
    </div> -->
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>View Subscribers</h5>
                        <!-- </a> -->

                        <div class="ibox-tools">
                            <a class="collapse-link"> <i class="fa fa-chevron-up"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a></li>
                                <li><a href="#">Config option 2</a></li>
                            </ul>

                        </div>
                    </div>

                    <div class="ibox-content">

                        <div class="search_bar">
                            <form id="searchForm" class="navbar-form" role="search">
                                <div class="col-sm-6">
                                    <select class="form-control carousel-search-select valid"
        id="searchType" aria-invalid="false" name="requestType"
        th:object="${filter}">
    <option value="">Select</option>
    <option value="UserID" th:selected="${filter == 'UserID'}">Search By UserId</option>
    <option value="SMC" th:selected="${filter == 'SMC'}">Search By SMC</option>
    <option value="MobileNo" th:selected="${filter == 'MobileNo'}">Search By mobile</option>
</select>

                                </div>

                                <div class="input-group clearable-input col-sm-6">
                                    <input type="text" class="form-control"
                                           placeholder="Search subscriber mobileNo" id="query"
                                           name="query" th:value="${query}"> <span
                                           data-clear-input>&times;</span>
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary" data-target="#searchAdd" id="searchButton" type="submit">GO!</button>
                                    </div>
                                </div>
                               
                            </form>
                        </div>

    <div th:if="${user != null}" id="userDetails">
    <h2 style="color: #6495ED; font-weight: bold; text-decoration: underline;">User Details:</h2>



    <dl class="user-details-list">
        <div class="row">
            <div class="col-lg-3">
                <dt>User ID: <span th:text="${user.id}"> </span></dt> <br></br>
                

               <dt>Name: <span th:text="${user.first + ' ' + user.last}"> </span></dt> <br></br>
                

                <dt>Mobile No: <span th:text="${user.mobileNo}"> </span></dt>
                
            </div>

            <div class="col-lg-3">
                <dt>SMC: <span th:text="${user.smc}"> </span></dt><br></br>
                

                <dt>Email: <span th:text="${user.email_id}"> </span></dt><br></br>
                

                <dt>Address: <span > </span></dt>
               
            </div>
        </div>
    </dl> <br></br>
    <div>
<button class="btn btn-info" data-toggle="modal" data-target="#subscription" id="subscriptionButton" type="button">Subscription Info</button>

<button class="btn btn-primary" data-toggle="modal" data-target="#device" id="DeviceButton" type="submit" >Device Info</button>
<button class="btn btn-warning" data-toggle="modal" data-target="#other"  id="OtherButton" >Other</button>

</div>
</div>

<div >

<span style="color: #C0392B; font-weight: bold;" th:text="${message}"> </span>

                    </div>
                </div>
            </div>
        </div>

    </div>


<!--  sub Modal -->
<div class="modal fade" id="subscription" tabindex="-1" role="dialog" aria-labelledby="subscriptionLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title" id="subscriptionLabel">Subscription Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div th:if="${user != null}" class="modal-body" style="background-color: white;">
        <!-- Add your subscription information here -->
        <dt>User ID: <span th:text="${user.id}"> </span></dt> <br></br>
      </div>
    
    </div>
  </div>
</div>

<!--  device Modal -->
<div class="modal fade" id="device" tabindex="-1" role="dialog" aria-labelledby="deviceLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title" id="deviceLabel">Device Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background-color: white;">
        
        <p>device details go here.</p>
      </div>
    
    </div>
  </div>
</div>

<!--  Other Modal -->
<div class="modal fade" id="other" tabindex="-1" role="dialog" aria-labelledby="otherLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title" id="otherLabel">Other Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="background-color: white;">
        
        <p>Other details go here.</p>
      </div>
    
    </div>
  </div>
</div>
</section>

<div layout:fragment="customscripts">
    <script th:src="@{/scripts/subscriber.js}"></script>
    <script th:src="@{/scripts/search.js}"></script>
   
</div>



</body>
</html>
